<div class="container">
    <form action="/ambulanceInfo" method="POST">
        <input type="text" class="validate" name="ambulanceNumber" placeholder="Enter Ambulance Numer">
        <input type="text" class="validate" name="driverName" placeholder="Enter Driver Name">
        {{!-- <input type="number" name="expectedTime" placeholder=""> --}}
        <input type="text" class="validate" name="driverNumber" placeholder="Enter Drivers Contact number">

        <button class="btn waves-effect waves-light" type="submit" name="submit">Submit

        </button>


    </form>

</div>