<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css " href="./css/ambulanceAmbulance.css">
</head>

<body onload="initialize()">


    <nav class="navbar">
        <h3>Medico<span>Universe</span></h3>
        <div class="nav-link">
            <span>About Us</span>
            <span>Mission</span>
        </div>
        <button class="btn btn-light">Login/Signup</button>
    </nav>

    <div class="container-flex mt-2">

        <div class="row">
            <div class="col-4">


                <input id="start" class="validate" placeholder="Add a pickup Location" />
                <input id="end" class="validate" placeholder="where you want to go?" />
                <div id="error-msg"></div>

                <div class="row">
                    <div class="col">
                        <button id="bookAmbulance" type="button" class="btn btn-info"
                            onclick="ambulanceDetails()">Book</button>
                    </div>
                    <div class="col">
                        <a href="ambulanceInfo" class="btn btn-info">Add Ambulance</a>

                    </div>

                    {{!-- <button id="ambulanceInfo" type="submit" class="btn btn-info"  > <a href=""></a> Add driver</button> --}}

                </div>

                <div id="ambulance_details" class="row">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body" style="background-color: honeydew;">
                            <h5 class="card-title">Ambulance Details</h5>
                            {{#each db }}
                            <table>
                                <tr>
                                    <td>Ambulance Number</td>
                                    <td>{{this.ambulanceNumber}}</td>
                                </tr>
                                <tr>
                                    <td>Driver Name</td>
                                    <td>{{this.driverName}}</td>
                                </tr>
                                <tr>
                                    <td>Expected Time</td>
                                    <td>{{this.expectedTime}}</td>
                                </tr>
                                <tr>
                                    <td>Driver Number</td>
                                    <td>{{this.driverNumber}}</td>
                                </tr>
                            </table>
                            {{/each}}
                            <button id="confirmBooking" type="button" class="btn btn-info mt-2" value="Confirm Booking"
                                onclick="setRoutes();">Confirm
                                Booking</button>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-8">
                <div id="map_canvas" style="height:600px;width:100%"></div>
            </div>
        </div>

    </div>
    <footer>
        <div class="h-25"></div>
        <div class="row">
            <div class="col-3 ml-5">
                <h4>Contact Us</h4>
                <p>BHIVE Workspace, L-148, 5th Main Rd,<br> Sector 6, HSR Layout,<br> Bengaluru, Karnataka 560102
                </p>
            </div>
            <div class="col-3">
                <h5>For patients</h5>
                <ul>
                    <li><a href="#">Search for Doctors</a></li>
                    <li><a href="#">Search for Hospitals</a></li>
                    <li><a href="#">Order Medicine</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={KEY}&libraries=places&callback=initMap"></script>
    <script type="text/javascript" src="./js/scriptambulance.js"></script>
    <script type="text/javascript" src="./js/scriptpolyline.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>