<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MedicoUniverse | Bookings | Front</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/booking.doctors.css">
</head>
<body>
    <nav class="navbar">
        <h3>Medico<span>Universe</span></h3>
        <div class="nav-link">
            <span>About Us</span>
            <span>Mission</span>
        </div>
        <button class="btn btn-light">Login/Signup</button>
    </nav>
      <div class="jumbotron">
        <h1 id="pName"><strong>Medico<span>Universe</span><sup>+</sup></strong></h1>
          <h3 id="info"><strong>Book Your Appointments here</strong></h3>
          <form class="form-inline">
                <input  list="places" name="myPlaces" placeholder="Select Cities"/>
                  <datalist id="places">
                    <option value="Shimla">
                    <option value="Delhi">
                    <option value="Mumbai">
                    <option value="Chennai">
                    <option value="Kolkata">
                    <option value="Chandigarh">
                  </datalist>
                  </button>
               <input list="requirements" name="myReq" placeholder="Select Doctors,Therapists,Nurses and Babysitters"/>
                <datalist id="requirements">
                  <option value="Doctors">
                  <option value="Nurses">
                  <option value="Babysitters">
                  <option value="Therapists">
                </datalist>
                </button>
              <input  list="specs" name="mySpec" placeholder="Select Specialization"/>
               <datalist id="specs">
                  <option value="Orthopedics">
                  <option value="General Physian">
                  <option value="ENT Specialist">
                  <option value="Medicine">
                  <option value="Gynecologist"></option>
               </datalist>
               </button>
              <button id="findBtn"  onclick="getLocation()"><strong>Find</strong></button>
          </form>
      </div>
      <section>
          <div  id="feature1">
            <div id="imageDiv" >
                <img src="https://www.m3india.in/assets/jima/survey-mr/survey_doctor-060dcedbc5d887666142d12d6bf05ceb89f03d66e66a245908f150c6710c611c.png"  width="225px" height="auto" alt="">
            </div>
            <div id="detailList" >
                <h3>Book Doctors,Threapists,Nurses <br> and babysitters</h3>
                <ul class="mt-5">
                     <li><img src="public/images/check-mark.svg" width="18px" height="auto" alt="">  100% Verified Doctors</li>
                    <li><img src="public/images/check-mark.svg" width="18px" height="auto" alt="">  Bookings available anytime from everywhere.</li>
                    <li><img src="public/images/check-mark.svg" width="18px" height="auto" alt="">   Appointments with the best doctors in your city</li>
                    <li><img src="public/images/check-mark.svg" width="18px" height="auto" alt="">   All the services are available at affordable fees. </li>
                </ul>
                <button class="btn btn-info">Book an Appointment</button> 
            </div>
          </div>
      </section>
      <section>
        <div id="feature2">
            <div id="imageDiv">
                <img src="https://images.unsplash.com/photo-1542736667-069246bdbc6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="225px" height="250" alt="">
            </div>
            <div id="detailList">
                <h2>Order Medicine</h2>
                <ul class="mt-5">
                    <li> <img src="public/images/correct.svg" width="18px" height="auto" alt="">  Order Medicines at discounted prices. </li>
                    <li> <img src="public/images/correct.svg" width="18px" height="auto" alt="">  Get your medicines dilivered at your doorstep.</li>
                    <li> <img src="public/images/correct.svg" width="18px" height="auto" alt="">  All the order Dispathched whith 12 hours. </li>
                </ul> 
                <button class="btn btn-info offset-2"> Order Now</button>
          </div>
        </div>
    </section>
    <section>
        <div id="feature1">
            <div id="imageDiv">
                <img src="https://static.toiimg.com/thumb/msid-66127205,imgsize-865075,width-400,resizemode-4/66127205.jpg"  width="300px" height="250" alt="">
            </div>
            <div id="detailList">
                <h2>Order Medicine</h2>
               <h2>Book Ambulance</h2>
                <ul class="mt-5">
                    <li><img src="public/images/check-mark.svg" width="18px" height="auto" alt="">  Book an ambulance and track it on its way.</li>
                    <li><img src="public/images/check-mark.svg" width="18px" height="auto" alt="">   Real time location tracking.</li>
                    <li><img src="public/images/check-mark.svg" width="18px" height="auto" alt="">   Always on time service.</li>
                </ul>
                <button class="btn btn-info"> Book Ambulance</button> 
          </div>
        </div>
    </section>
    
      
    <footer>
        <div class="h-25"></div>
        <div class="row">
            <div class="col-3 ml-5">
                <h4>Contact Us</h4>
                <p>BHIVE Workspace, L-148, 5th Main Rd,<br> Sector 6, HSR Layout,<br> Bengaluru, Karnataka 560102</p>
            </div>
            <div class="col-3">
                <h5>For patients</h5>
                <ul>
                    <li><a href="#">Search for Doctors</a></li>
                    <li><a href="#">Search for Hospitals</a></li>
                    <li><a href="#">Order Medicine</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="script.js"></script>
  </body>
</html>
